@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sen:wght@400..800&display=swap");
@import "tailwindcss";

@theme {
  --font-sen: "Sen", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-red: #c52020;
  --color-grey100: #f5f5f5;
  --color-text: #1e1e1e;
  --color-text-neutral: #f3f3f3;
  --color-text-secondary: #757575;
  --color-border: rgba(0, 0, 0, 0.0784);
  --color-icons-grey: #a39e98;
  --color-border-default: #d9d9d9;
}
